[Unit]
Description=Hadoop Service
After=network.target

[Service]
User=hadoop
Group=hadoop
Type=forking
Restart=on-failure
RestartSec=5s
KillMode=process

ExecStart=/opt/hadoop/sbin/start-all.sh
ExecStop=/opt/hadoop/sbin/stop-all.sh
ExecReload=/opt/hadoop/sbin/start-all.sh

[Install]
WantedBy=default.target
