[Unit]
Description=Hadoop Start All
After=network.target

[Service]
User=hadoop
Group=hadoop
ExecStart=/opt/hadoop/sbin/start-all.sh
ExecStop=/opt/hadoop/sbin/stop-all.sh
ExecReload=/opt/hadoop/sbin/stop-all.sh && /opt/hadoop/sbin/start-all.sh
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
